@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Se desarrollo este proyecto cliente web externo para gestionar operaciones CRUD con la entidad Raza, y consumo del catalogo que consulta el aplicativo movil DoctorVet.</p>
